.inputText{
    display: flex;
    justify-content: flex-end;
    overflow-wrap: anywhere;
    /* font-size: 14px; */
    font-family: auto;
    color: #0d0d0d;
    /* font-family: 'Arial', sans-serif; */
    background-color: #e9e8e8;
    border-radius: 10px;
    padding: 5px;
    width: 65%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    word-spacing: 1px;
}

.inputTextContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
